<!DOCTYPE html>
<html lang="en"> 
    <head>
        <title>testing videos</title>
        <link rel="stylesheet" href="../static/style.css">
    </head>
    <body>
        <div class="body">
            <h1>Video Clipper</h1>
            <br>

            <div class="main">
                <h2>Welcome to Your Clips Library</h2>
                <p id="clipCount">Total Clips: 0</p>
            </div>

            <!-- <button onclick="playPause()" id="playpausebutton">empty button</button>  -->
            <a href="home.html" target="_blank">
                <button>Go To Home</button>
            </a>

            <br><br>

            <div class="titlearea">
                <label for="titleinput">Create a title:</label><br>
                <input type="text" id="titleinput" name="titleinput" value="untitled">
                <br><br>
                <input type="submit" value="Submit">
            </div>
            <br><br>

            <div class="video-grid" id="videoGrid">
                <!-- Video elements will be added here dynamically -->
            </div>

            <br><br>

            <footer>this is a footer</footer>
        </div>

        <script src="../static/jspractice.js"></script>
    </body>
</html>