h2.blue-text {
  color: #006192;
  font: 'Source Sans Pro', sans-serif;
  font-weight: 600;
}

.background {
  background-color: #F3F2EE;
}

.box {
    background-color: white;
    border: 2px solid rgb(95 97 110);
    border-radius: 0.5em;
    width: 500px;
    height: 450px;
    margin: auto;
    padding: 6.50rem 6.50rem;
    align-items: center;
    justify-content: center;
}

.inputfile + label {
  border: 4px solid #006192;
  border-radius: 0.5em;
  border-style: dashed;
  color:#006192;
  width: 400px;
  height: 325px;
  max-width: 97%;
  max-height: 95%;
  padding: 6.75rem 6.75rem;
  font-size: 1.25rem;
  font-weight: 700;
  display: flex;
  text-align: center;
  text-overflow: ellipsis;
  white-space: nowrap;
  cursor: pointer;
  display: inline-block;
  overflow: hidden;
  align-items: center;
  justify-content: center;  
}

.inputfile + label:hover {
  border: 5px solid #0A4780;
  border-style: dashed;
  color: #0A4780;
  background-color: #EBF3FD;
}

footer {
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  font-size: large;
  font-weight: 575;
  height: 100px;
  padding: 4rem;
  background-color: #6D6D6D;
  color: #fff;
}